@font-face {
{{fontFamily}}
}

.{{prefix}} {
  font-family: {{fontSize}} '{{fontname}}' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.{{prefix}}::before {
  content: var(--icon-code, attr(data-icon));
}

{% if not nameAsUnicode %}
{{cssString}}
{% endif %}
